node_modules/
out/
*.log
.DS_Store
assets_src/*_cut_raw.png
assets_src/score-master.wav
assets_src/score-hyper-master.wav
assets_src/score-machine-master.wav
assets_src/score-sovereign-master.wav
assets_src/clarity_nightcore.mp3
